<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" v-model="keyword">
    <!-- 
      vfor和vif能不能同时使用？ 答案是肯定的
      vfor和vif同时使用的时候，谁的优先级高：答案是vfor
      但是不推荐vfor和vif同时使用，因为vfor本身会出现很多个元素，每个元素身上都有一个指令v-if
      vif指令都是需要进行解析的，指令进行解析的过程是很消耗性能的，这样效率就会很低下
      原因是效率极低

      解决办法：
       计算属性，我们通过计算属性把需要展示的数据，计算为一个新数组，展示的时候我们不和原数组拉关系
       这样的话，vfor遍历直接遍历计算出来的新数组即可
     -->
    <ul>
      <!-- 不推荐，效率低 -->
      <!-- <li v-for="(person, index) in persons" :key="person.id" v-if="person.username.indexOf(keyword)!==-1">
        {{person.id}} --- {{person.username}} --- {{person.age}}
      </li> -->

      <li v-for="(person, index) in newPersons" :key="person.id">
        {{person.id}} --- {{person.username}} --- {{person.age}}
      </li>
    </ul>

    <!-- 事件的回调 可以是回调也可以是函数调用
    当我们不加任何参数的时候，它可以写成回调
    当我们需要加参数的时候，它可以写成函数调用,但是不能加this
    -->

    <button @click="changeFlag(0)">原样排序</button>
    <button @click="sortFlag = 1">年龄升序</button>
    <button @click="sortFlag = 2">年龄降序</button>
  </div>
  <script src="../js/vue.js"></script>
  <script>
    // 列表的过滤和排序
    // 列表过滤：
    // 1、收集用户输入的关键字  需要设计收集的数据  vmodel收集keyword
    // 2、页面展示的不再是原数组，而是根据原数组和keyword计算出来的新数组，否则就会碰到vfor和vif同时使用
    // 3、页面展示的数据替换为新数组

    // 列表排序(过滤后排序)
    // 1、要排序需要设计排序标识数据 sortFlag  0原样 1升序 2降序
    // 2、添加点击事件，点击三个按钮我们只需要负责修改sortFlag数据
    // 3、sortFlag的改变是要引起过滤的新数组进行改变，sortFlag也得加入到计算当中去
    // 4、过滤完成之后，只需要根据sortFlag的值，进行排序过滤出来的数组即可
    new Vue({
      el:"#app",
      data(){
        return {
          persons:[
            {id:1,username:'zhaoliying',age:35},
            {id:2,username:'yangmi',age:36},
            {id:3,username:'dilireba',age:30}
          ],
          keyword:'',
          sortFlag:0  //设计排序标志数据
        }
      },
      computed: {
        newPersons(){
          let {persons,keyword,sortFlag} = this
          let arr = persons.filter(item => item.username.indexOf(keyword) !== -1)
          // if(sortFlag){
          //   if(sortFlag === 1){
          //     arr.sort((a,b) => {
          //       return a.age - b.age
          //     })
          //   }else{
          //     arr.sort((a,b) => {
          //       return b.age - a.age
          //     })
          //   }
          // }
          if (sortFlag) arr.sort((a,b) => sortFlag === 1? a.age - b.age : b.age - a.age)
          return arr
        }
      },
      
      methods: {
        // 如果后期写函数，函数内部只有一行代码
        // 可以省略函数

        changeFlag(flag){
          this.sortFlag = flag
        }
      },
      
    })
  </script>
</body>
</html>